body{
	width:100%;
}
.mainCon{
	width:70%;
}
.SignUp {
	border: 1px solid black;
	width: 20%;
	height: 100%;
	padding: 1%;
	margin: 0 auto;
}

.nav{
display: inline;
list-style: None;
margin-left: 20px;

}
.imgContainer {
	border: 1px solid black;
	margin: 5px;
}
.showImg{
	position: absolute;
	top:50%;
	left:50%;
	max-width: 50%;
	transform: translate(-50%, -50%);
}